<%= simple_form_for @email_schedule, :html => { :class => 'form-horizontal' } do |f| %>

<fieldset>
<legend>Email Schedule</legend>
<% flash.each do |name, msg| %>
<div class="alert alert<%= name == :notice ? "success" : "error" %>">
	<%= msg %>
</div>
<% end %>
<div class="control-group">
<%= f.input :trackit %>
<%= f.input :do_date %>
<%= f.input :description %>
<%= f.input :webmaster, :collection => [ "Chris", "David", "Denis"], :class => 'width' %>
<%= f.button :submit %>  
</div>
</fieldset>
<% end %>
