<div class="page-header">
  <h1>Email Schedules</h1>
</div>
<% if current_user %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= sortable 'trackit' %></th>
      <th><%= sortable 'do_date' %></th>
      <th style="color: #0088CC;">Descriptions</th>
      <th style="color: #0088CC;">Distribution list</th>
      <th style="color: #0088CC;">Webmaster</th>
      <th style="color: #0088CC;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @email_schedules.each do |email_schedule| %>
    <tr>
      <td style="font-size:11px"><%= email_schedule.trackit %>&nbsp;</td>
      <td style="font-size:11px"><%= email_schedule.do_date.strftime('%A, %B %d, %Y') %>&nbsp;</td>
      <td style="font-size:11px"><%= email_schedule.description %>&nbsp;</td>
      <td style="font-size:11px"><%= email_schedule.list %>&nbsp;</td>
      <td style="font-size:11px"><%= email_schedule.webmaster %>&nbsp;</td>
      <td style="font-size:11px"><%= link_to 'Edit', edit_email_schedule_path(email_schedule), :class => 'btn btn-mini' %> <%= link_to 'Delete', email_schedule_path(email_schedule), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to 'Add new email', new_email_schedule_path, :class => 'btn btn-primary' %>
  <% else %>
  <%= link_to "Log In", login_path, :class => 'btn btn-success' %>
  <% end %>