<table class="table table-striped">
  <thead>
    <tr>
      <th>Track-it #</th>
      <th>Do Date</th>
      <th>Descriptions</th>
	  <th>Webmaster</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @email_schedules.each do |email_schedule| %>
      <tr>
        <td><%= link_to email_schedule.trackit, email_schedule_path(email_schedule) %></td>
        <td><%= email_schedule.do_date.strftime('%b %d, %Y') %></td>
        <td><%= email_schedule.description %></td>
		<td><%= email_schedule.webmaster %></td>
        <td>
          <%= link_to 'Edit', edit_email_schedule_path(email_schedule), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', email_schedule_path(email_schedule), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

