<div class="page-header">
  <h1>Email Schedules</h1>
</div>
<% if current_user %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= link_to "Track-it", :sort => 'trackit' %></th>
      <th><%= link_to "Do Date", :sort => 'do_date' %></th>
      <th>Descriptions</th>
      <th>Distribution list</th>
      <th>Webmaster</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @email_schedules.each do |email_schedule| %>
    <tr>
      <td><%= email_schedule.trackit %>&nbsp;</td>
      <td><%= email_schedule.do_date.strftime('%A, %B %d, %Y') %>&nbsp;</td>
      <td><%= email_schedule.description %>&nbsp;</td>
      <td><%= email_schedule.list %>&nbsp;</td>
      <td><%= email_schedule.webmaster %>&nbsp;</td>
      <td><%= link_to 'Edit', edit_email_schedule_path(email_schedule), :class => 'btn btn-mini' %> <%= link_to 'Delete', email_schedule_path(email_schedule), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to 'Add new email', new_email_schedule_path, :class => 'btn btn-primary' %>
  <% else %>
  <%= link_to "Log In", login_path, :class => 'btn btn-success' %>
  <% end %>