<h1>Email Schedule</h1>
  <p><strong>Trackit:</strong> <%= @email_schedule.trackit %></p>
  <p><strong>Description:</strong> <%= @email_schedule.description %></p>
  <p><strong>Distribution list:</strong> <%= @email_schedule.list %></p>
  <p><strong>Do date:</strong> <%= @email_schedule.do_date.strftime('%A, %b %d, %Y') %></p>
  <p><strong>Webmaster:</strong> <%= @email_schedule.webmaster %></p>

<div class="form-actions">
  <%= link_to 'Back', email_schedules_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_email_schedule_path(@email_schedule), :class => 'btn' %>
  <%= link_to 'Destroy', email_schedule_path(@email_schedule), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
