<div class="page-header">
  <h1>Capital Tickets - tickets of the week.</h1>
</div>
<% if current_user %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="300"><%= sortable 'event_name' %></th>
      <th><%= sortable 'event_date' %></th>
      <th><%= sortable  'event_time' %></th>
      <th><%= sortable 'monday' %></th>
      <th><%= sortable 'tuesday' %></th>
      <th><%= sortable 'wednsday' %></th>
      <th><%= sortable 'thursday' %></th>
      <th><%= sortable 'friday' %></th>
      <th><%= sortable 'saturday' %></th>
      <th><%= sortable 'sunday' %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @captixes.each do |captix| %>
    <tr>
      <td style="font-size:11px"><%= captix.event_name %></td>
      <td style="font-size:11px"><%= captix.event_date.strftime('%b %d, %y') %></td>
      <td style="font-size:11px"><%= captix.event_time %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.monday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.tuesday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.wednsday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.thursday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.friday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.saturday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.sunday %>&nbsp;</td>
      <td><%= link_to 'Edit', edit_captix_path(captix), :class => 'btn btn-mini' %> <%= link_to 'Delete', captix_path(captix), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to "Add new spotlight", new_captix_path, :class => 'btn btn-primary' %>
  <% else %>
  <%= link_to "Log In", login_path, :class => 'btn btn-success' %>
  <% end %>