<div class="page-header">
  <h1>Capital Tickets - tickets of the week.</h1>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th width="300"><%= link_to "Event", :sort => 'event_name' %></th>
      <th><%= link_to "Date(s)", :sort => 'event_date' %></th>
      <th><%= link_to "Time(s)", :sort => 'event_time' %></th>
      <th><%= link_to "Monday", :sort => 'monday' %></th>
      <th><%= link_to "Tuesday", :sort => 'tuesday' %></th>
      <th><%= link_to "Wednesday", :sort => 'wednsday' %></th>
      <th><%= link_to "Thursday", :sort => 'thursday' %></th>
      <th><%= link_to "Friday", :sort => 'friday' %></th>
      <th><%= link_to "Saturday", :sort => 'saturday' %></th>
      <th><%= link_to "Sunday", :sort => 'sunday' %></th>
      <th><%= link_to "Actions", :sort => '#' %></th>
    </tr>
  </thead>
  <tbody>
    <% @captixes.each do |captix| %>
    <tr>
      <td style="font-size:11px"><%= captix.event_name %></td>
      <td style="font-size:11px"><%= captix.event_date.strftime('%b %d, %y') %></td>
      <td style="font-size:11px"><%= captix.event_time %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.monday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.tuesday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.wednsday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.thursday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.friday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.saturday %>&nbsp;</td>
      <td style="font-size:11px"><%= captix.sunday %>&nbsp;</td>
      <td><% if current_user %><%= link_to 'Edit', edit_captix_path(captix), :class => 'btn btn-mini' %> <%= link_to 'Delete', captix_path(captix), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
		<% else %>
        <span class="btn-small btn-success">N/A</span>
        <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if current_user %>
  <%= link_to "Add new spotlight", new_captix_path, :class => 'btn btn-primary' %>
  <% else %>
  <%= link_to "Log In", login_path, :class => 'btn btn-success' %>
  <% end %>